.dynbg__bg{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("https://s1.ax1x.com/2018/03/13/9huL4J.png") no-repeat;
  background-size: 100% auto;
}

.typec{
  width: 35%;margin-top: 5%;border-radius: 50rpx;
}

.container{
  z-index: 10; display: flex;flex-wrap: nowrap;justify-content: center;
}