/* pages/spy/spy.wxss */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background: #000; 
  z-index: 1;
} 

.line {
  position: relative;height: 900rpx;margin-top: 30rpx;display:flex;flex-wrap: wrap;flex-direction: row;justify-content: center;align-items: center;z-index: 2;
}

.turn_look {
  position: relative;z-index: 2;width: 100%;font-size: 35rpx;color: #fff;margin-top: 20rpx;display:flex;
}

.turn_tip {
  position: relative;z-index: 2;width: 100%;margin-top: 30rpx;color: #fff;font-size: 40rpx;text-align:center;
}

.one {
  position: relative;margin-top: 40rpx;display:flex;align-items: center;justify-content: center;z-index: 2;
}

.bcard {
  margin: 0 20rpx;
  width: 500rpx;
  height: 740rpx;
  background: url("https://s1.ax1x.com/2018/03/13/9he674.png") no-repeat;
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 400rpx;
  color: #fff;
  border-radius: 20rpx;
}

.ccard {
  margin: 0 20rpx;
  width: 500rpx;
  height: 740rpx;
  background: #ccc;
  border: 2rpx solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60rpx;
  border-radius: 20rpx;
}

.fcard {
  margin: 0 20rpx;
  width: 189rpx;
  height: 283rpx;
  background: url("https://s1.ax1x.com/2018/03/13/9he674.png") no-repeat;
  background-size: 100% auto;
  border-radius: 10rpx;
}
.tcard {
  margin: 0 20rpx;
  width: 189rpx;
  height: 283rpx;
  background: #fff;
  border: 2rpx solid #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 35rpx;
  border-radius: 10rpx;  
}

.non {
  display: none;
}

.bottomv {
  position:absolute;width: 100%;bottom: 100rpx;z-index: 2;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;
}

.colorA {
  color: green;
}

.colorB {
  color: red;
}


.result {
  position: relative;z-index: 2;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;
}

.result_t {
  width: 100%;font-size: 60rpx;color:orange;display: flex;justify-content: center;
}

.reuslt_v {
  width: 100%;font-size: 40rpx;margin-top: 60rpx;display: flex;justify-content: center;color: #fff;
}

.reuslt_s {
  width: 100%;font-size: 40rpx;margin-top: 60rpx;display: flex;justify-content: center;color: red;
}

.bgA {
  background: #fff;
}